.SideBarItem {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.SideBarItem .ItemLogo {
  color: white;
  height: 30px;
  width: 30px;
  padding: 16px;
  margin: 16px 0;
  position: relative;
  top: -5px;
}

.SideBarItem .ItemLogo:hover {
  opacity: 0.6;
}

.SideBarItem .ItemLogo:active {
  opacity: 0.4;
}

.SideBarItem .ItemTitle {
  color: black;
  background-color: rgb(255, 255, 255);

  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;

  width: 80px;
  height: 20px;

  padding: 16px;
  margin: 16px 0;

  animation: moveInLeft 1s ease;

  transition: 0.15s ease-in;
  cursor: pointer;
}

.SideBarItem .ItemTitle:hover {
  color: white;
  background-color: rgb(14, 71, 177);
  transform: translateY(-2px);
  box-shadow: 0 1px 2px black;
}

.SideBarItem .ItemTitle:active {
  color: white;
  background-color: rgb(19, 90, 221);
  transform: translateY(0px);
  box-shadow: 0 0.5px 1px black;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
