.SideBarItem {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.ItemLogo {
  color: white;
  height: 30px;
  width: 30px;
  padding: 16px;
  margin: 16px 0;
  position: relative;
  top: -5px;
}

.ItemTitle {
  color: black;
  background-color: rgb(255, 255, 255);

  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;

  width: 80px;
  height: 20px;

  padding: 16px;
  margin: 16px 0;

  animation: moveInLeft 1s ease;

  transition: 0.15s ease-in;
  cursor: pointer;
}

.ItemTitle:hover {
  color: white;
  background-color: rgb(7, 35, 88);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
