.SideBar {
  background-color: cornflowerblue;
  width: 70px;
  height: 80vh;
  position: fixed;
  left: -3px;
  border-radius: 5px;

  display: flex;

  transition: width 0.5s;
}

.SideBar:hover,
.SideBar:active {
  width: 200px;
}

.SideBar p {
}
